{% extends "base.html" %}
{% block content %}
<h1>Upload</h1>
<form action="{{ url_for('upload') }}" class="dropzone" id="my-drop-zone">
</form>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script>
    Dropzone.options.myDropZone = {
        maxFiles: 1,
        accept: function(file, done) {
            console.log("uploaded");
            done();
        },
        init: function(){
            this.on("maxfilesexceeded", function(file){
                alert("no more files");
            });
        }
    };
</script>
{% endblock %}